<div class='large-container center-block'>
  <h1>My Shopping Lists</h1>
  <div class='row'>
    <%= link_to 'Add list', new_list_url, class: 'col offset-md-9 btn btn-light' %>
  </div>
  <%= render @lists %>
</div>
